<div class="footer-dark">
   <footer>
       <div class="container">
           <div class="row">
            <div class="col-md-6 item text">
               <h3>Haven-Life</h3>
               <p>We take our tagline very seriously and for the last 25 years have been committed to finding you the perfect home for your business or selves. We look forward to meeting you and finding you your perfect place.</p>
           </div>
               <div class="col-sm-6 col-md-3 item">
                   <h3>Category</h3>
                   <ul>
                       <li><a href="#">Villas</a></li>
                       <li><a href="#">Appartment</a></li>
                       <li><a href="#">Hotels</a></li>
                       <li><a href="#">Resort</a></li>
                   </ul>
               </div>
               <div class="col-sm-6 col-md-3 item">
                   <h3>Quick Links</h3>
                   <ul>
                       <li><a href="#">Home</a></li>
                       <li><a href="#">Bookings</a></li>
                       <li><a href="#">Privacy Policy</a></li>
                       <li><a href="#">Sitemap</a></li>
                       <li><a href="#">Contact Us</a></li>
                   </ul>
               </div>
               <div class="col item social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-youtube"></i></a>
               </div>
           </div>
           <p class="copyright">Haven-Life © 2021</p>
       </div>
   </footer>
</div>