<div id="background">
   <div class="container">
      <div class="row">
         <div class="col center">
            <h1>“Haven-Life is the starting place of love, hope and dreams.”</h1>
            <div class="content">
               <a routerLink='/room'><button>VISIT ROOMS</button></a>
            </div>
         </div>
         <div class="col col-res"></div>
      </div>
   </div>
</div>
<div class="container places-section">
   <hr>
   <h2>Travel with confidence</h2>
   <p>Many properties have update us about their enhanced health and safety measures. So, during your search, you may find details like:</p>
   <div class="row">
      <div class="col">
         <div class="row">
            <div class="col-1">
               <i class="fa fa-shield"></i>
               <i class="fa fa-user-md" id="iconsetter"></i>
            </div>
            <div class="col col-safety">
               <h5>Official health standards</h5>
               <p>Properties adhering to corporate/organisational sanitisation gudelines.</p>
               <h5>Hygine and sanitisation</h5>
               <p>The use of disinfectant and whether properties enforce a gap period between stays.</p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="row">
            <div class="col-1">
               <i class="fa fa-male"></i>
               <i class="fa fa-signing" id="iconsetter" style="margin-top: 60% !important;"></i>
            </div>
            <div class="col col-safety">
               <h5>Social Distancing</h5>
               <p>Contactless check-in and check-out along with other social distancing measures.</p>
               <h5>Essentials at the property</h5>
               <p>Free hand sanitiser for guests and individually wrapped food options.</p>
            </div>
         </div>
      </div>
   </div>
   <hr><hr>
</div>
<div class="container places-section">
   <div class="row" style="text-align: center;">
      <div class="col-4" style="width: 50%;"><button (click)="getPropertyType('Appartment')">Appartment</button></div>
      <div class="col-4" style="width: 50%;"><button (click)="getPropertyType('Villa')">Villa</button></div>
      <div class="col-4" style="width: 50%;"><button (click)="getPropertyType('Resort')">Resort</button></div>
      <div class="col-4" style="width: 50%;"><button (click)="getPropertyType('Beach_Resort')">Beach_Resort</button></div>
      <div class="col-4" style="width: 50%;"><button (click)="getPropertyType('Hotel')">Hotel</button></div>
      <div class="col-4" style="width: 50%;"><button (click)="getPropertyType('Tent')">Tent</button></div>
   </div>
   
   
   
</div>
<div class="container places-section">
   <span id="place-headline">  Explore India </span>
   <img src="../../assets/chennai.jpg" alt="" (click)="getlocation('chennai')">
   <img src="../../assets/bengaluru.JPG" alt="" (click)="getlocation('bengaluru')">
   <img src="../../assets/coimbatore.JPG" alt="" (click)="getlocation('coimbatore')">
   <img src="../../assets/mumbai.JPG" alt="" (click)="getlocation('mumbai')">
   <img src="../../assets/goa.JPG" alt="" (click)="getlocation('goa')">
   <img src="../../assets/maharashtra.JPG" alt="" (click)="getlocation('maharashtra')">
   <img src="../../assets/Hydrabad.JPG" alt="" (click)="getlocation('Hydrabad')">
   <img src="../../assets/kerala.jpg" alt="" (click)="getlocation('kerala')">
   <img src="../../assets/delhi.JPG" alt="" (click)="getlocation('delhi')">
</div><hr><hr>
